body{
    background-color:#FFB6C1;
    justify-content: center;
}
.centro{
display: flex;
justify-content: center;
align-items: center;
background-color: #F08080;
height:900%; 
width:100%
}
.container{
   display: flex;
   align-items: center;
}
.meio{
   background-color: #F08080;
}
.meio0{
   background-color: #F08080;
   size: -1px;
}
.meio1{
   background-color: #F08080;
}
.meio2{
   background-color: #F08080;
}
footer {
background-color: #F08080;
clear: both;
height: 30px;
text-align: cent;
}


